<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wickeddevs.easywars">

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.loadingsplash.LoadingSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.noclan.NoClanActivity"
            android:label="Setup"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.noclan.create.CreateClanActivity"
            android:label="Create Clan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.noclan.verifycreate.VerifyCreateClanActivity"
            android:label="Verify Ownership"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.noclan.join.JoinClanActivity"
            android:label="Join Clan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.noclan.verifyjoin.VerifyJoinClanActivity"
            android:label="Awaiting Approval"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.shared.search.SearchClansActivity"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.TestingActivity"
            android:label="Testing"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.joinrequests.JoinRequestsActivity"
            android:label="Join Requests"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.warbase.WarBaseActivity"
            android:label="Enemy Base"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.startwar.info.WarInfoActivity">
        </activity>
        <activity android:name=".ui.startwar.warorder.WarOrderActivity">
        </activity>
        <activity android:name=".ui.startwar.participents.WarParticipentsActivity">
        </activity>
    </application>

</manifest>